[submodule "contracts/lib/forge-std"]
	path = contracts/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "contracts/lib/p256-verifier"]
	path = contracts/lib/p256-verifier
	url = https://github.com/daimo-eth/p256-verifier
[submodule "contracts/lib/account-abstraction"]
	path = contracts/lib/account-abstraction
	url = https://github.com/eth-infinitism/account-abstraction
[submodule "contracts/lib/openzeppelin-contracts"]
	path = contracts/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
