* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  overflow-x: hidden;
  background-color: #696e77;
}

body {
  position: relative;
  max-width: 390px;
  min-height: 100svh;
  margin: 0 auto;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

@media (min-width: 391px) {
  body {
    margin: 2rem auto;
    border-radius: 20px;
    min-height: calc(100svh - 4rem);
    overflow: hidden;
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}