* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  overflow-x: hidden;
  background-color: #696e77;
}

body {
  position: relative;
  min-height: 100svh;
  margin: 0 auto;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

@media (min-width: 600px) {
  html{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

  }

  body {
    margin: auto;
    border-radius: 20px;
    width: 390px;
    height: 760px;
    min-height: 0px;
    overflow: hidden;
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}